/* 
TODO: Add styles to match the layout in the image.
Note: you should only need to use flexbox properties and margin/padding to create the layout.
*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}

nav {
    display: flex;
}

.nav-link{
    margin: 0 20px;
}

.user-actions {
    display: flex;
}

.user-actions button {
    margin-left: 15px;
}
/* 
Challenge: Use flexbox in media queries to create a responsive layout 
*/


