/* 
TODO: Add styles to match the layout in the image.
Note: you should only need to use flexbox properties and margin/padding to create the layout.
*/

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}

nav {
    display: flex;
}

.nav-link{
    margin: 0 20px;
}

.user-actions {
    display: flex;
}

.user-actions button {
    margin-left: 15px;
}

/* Hero */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

/* Cards */
.card-container {
    display: flex;
    justify-content: space-between;
    margin: 0px 30px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 30px;
    padding: 25px;
}

/* Features */
.features {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0px 60px;
}

/* Footer */
footer {
    margin: 30px 50px;
    padding: 30px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-section {
    display: flex;
    flex-direction: column;
    margin: 30px 50px 0px 50px; /*Stop text from touching eachother*/
}

.footer-section a {
    margin-bottom: 10px;
}

.social-links {
    display: flex;
}

.social-links a {
    margin-right: 15px;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

/* 
Challenge: Use flexbox in media queries to create a responsive layout 
*/


